@import "./variables";

//-------------------
//Colors: Classes
//Generates classes for colors and background colors

//Sass Map to store color values

$colors-map: (
    "brand-1": $brand-1,
    "brand-2": $brand-2,
    "brand-3": $brand-3
);

//@each Sass loop to generate classes
@each $name, $hex-value in $colors-map {
    .#{$name} {
    color: $hex-value;
}
    .#{$name}-bg {
        background-color: $hex-value;
    }
}

